[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-magic = "*"
mixmatch = {editable = true, git = "https://github.com/Wcarpenter96/mixmatch.git"}

[dev-packages]
ruff = "*"
pytest = "*"
pytest-datadir = "*"

[requires]
python_version = "3.11"
